*{
	margin:0px;
	padding:0px;
} 
.top{
	height:15%;
}
.content{
    height: 70%;
    background: url(../image/hr_login.png) center;
	background-size: 100% 70%;
}
.content .login{
	width: 25%;
	height: 80%;
	position: absolute;
	top: 10%;
	right: 15%;
	background:white;
}
.content .login .login-title{
	width: 300px;
    height: 320px;
    background: #fff;
    padding: 40px 40px 40px 40px;
	
}
.content .login .login-title .options{
	width:300px;
	height:42px;
}
.content .login .login-title .options .first{
	color:blue;
}
.content .login .login-title .options .second{
	color:black;
}
hr {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
