*{
	margin:0px;
	padding:0px;
}
.main_content{
	width:100%;
	height:500px;
	background-image:url("../image/index.jpg");
	opacity:1;
} 
.main_content .top{
	width:100%;
	height:50px;
	color:white;
	background: rgba(52, 52, 52, 0.2);
}
.main_content .top .left_part{
	width:640px;
	height:50px;
	float:left;
	
}
.main_content .top .left_part .tag{
	width:596px;
	height:50px;
	float:right;
	line-height:50px;
	z-index:99997;
	
}
.main_content .top .left_part .tag a{
	font-size:14px;
	
}
.main_content .top .left_part .tag a:hover{
	cursor:pointer;
	padding-bottom:5px; border-bottom:1px solid white;
}
.main_content .top .left_part .tag .icon{
	float:left; width:90px;height:50px;text-align:center;font-size:28px;line-height:50px;
}

.main_content .top .right_part{
	width:175px;
	height:50px;
	float:right;
	font-size:20px;
	line-height:50px;
}